{% include 'header.html' %}
{% with messages= get_flashed_messages()%}
{%if messages%}
    <div class="alert alert-danger" role="alert">
     {% for message in messages %}
         {{message}}
     {% endfor %}
     </div>
{% endif %} 
{% endwith %}   
    <table class="table table-light">
        <thead class="thead-light">
            <tr><th>#</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Cantidad </th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for empleado in  personas %}
            <tr>
                <td>{{empleado[0]}}</td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td>{{empleado[3]}}</td>
                <td>{{empleado[4]}}</td>
                
            </tr> 
            {% endfor %}


        </tbody>
    </table>
{% include 'footer.html' %}