{% include 'header.html' %}
{% with messages= get_flashed_messages()%}
{%if messages%}
    <div class="alert alert-danger" role="alert">
     {% for message in messages %}
         {{message}}
     {% endfor %}
     </div>
{% endif %} 
{% endwith %}   
    
    <div class="card" style="margin-top: 2em;">
        <div class="card-header">
            Ingresar personas
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de la persona</h5>
            <p class="card-text">
    <form method="POST" action="/store" class="form-group" enctype="multipart/form-data">            
    <label for="txtnombre">Nombre</label>
    <input type="text" name="txtnombre" id="txtnombre" class="form-control">
    <label for="txtdireccion">Direccion</label>
    <input type="text" name="txtdireccion" class="form-control"id="txtdireccion">
    <label for="numtele">Teléfono</label>
    <input type="tel" name="numtele"class="form-control" id="numtele">
    <a href="{{url_for('index')}}" class="btn btn-primary">Volver</a>
    <button type="submit"class="btn btn-success">Guardar</button>
    </form>
            </p>
        </div>
    </div>
    


{% include 'footer.html' %}